
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,500;0,600;1,400&family=Uchen&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair';
}

body, html {
    height: 100%;
}

body{

    background-image: url("images/Bg-image.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: bolder;
}

nav .menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}


nav .menu ul li{
    padding: 10px 20px;
    font-size: 1em;
    padding-top: 5%;
    cursor: pointer;
}

nav .logo img{
    width: 80px;
    margin-top: 14px;
    opacity: 0.5;
}

.logo img:hover{
    opacity: 1;
    cursor: pointer;
}

nav .menu{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2%;
    border-bottom: 2px solid #fff;
}


.menu .contact{
    display: flex;
    padding-top: 3%;
}

.contact div h2{
    font-size: 1em;
}

.contact div h3{
    font-size: .9em;
}

/*------- Main Section --------*/

.main .content{
    color: #fff;
    font-size: 45px;
    width: 700px;
    margin: 10% 0% 0 10%;

}

.main .content button:hover{
    cursor: pointer;
    color: rgb(199, 78, 78);
    background-color:rgb(30, 111, 138);
}

.main .content button{
    background-color: transparent;
    border-radius: 40px;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    font-size: 25px;
    margin-top: 5%;
    font-weight: bolder;
}

/* Card */
.main .card1, .card2{
    position: absolute;
    top: 31.8%;
    right:9%;
    color: #fff;
    width: 200px;
    background: rgba(62, 129, 181, 0.3);
    border-radius: 5px;
    padding: 20px;
}

.card2{
    top: 70%;
    right: 28%;
}

.card1 .Image img{
    padding: 2px 10px;
}

.Image{
    background-color: #fff;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 8%;
}

/* Pointers Design */

.line{
    width: 2px;
    height: 80px;
    background-color: #fff;
}

.circle{
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}

.lines{
    position: absolute;
    top: 53%;
    right: 15%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line1{
    width: 100px;
    height: 2px;
    background-color: #fff;
}

.circle1{
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}

.lines1{
    position: absolute;
    top: 80%;
    right: 21%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}