@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Roboto';
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5%;
    background-color: rgb(49, 118, 197);
}

nav div img{
    width: 100px;

}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1em;
}

nav ul li{
    padding: 10px 20px;
    color: #fff;
}

nav ul li:hover{
     transition: .4s;
     font-size: 18px;
     cursor: pointer;
     
}
nav ul button{
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(32, 59, 40);;
}

 

/* main section */
main{
    background-color: rgb(49, 118, 197);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 8%;
}

main section{
    width: 50%;
}

main section h1{
    color: #fff;
    font-size: 64px;
}

main section article{
    color: #fff;
    font-size: 1.12em;
    margin-top: 5%;
}

section[aria-label="content"]{
    width: 40%;
}

/* Section 2 */

main + section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

aside h2{
    font-size: 25px;
    width: 300px;
}

aside{
    width: 50%;
}

aside ul{
    list-style-type: none;
    margin-top: 5% 0 0 5%;
}

aside ul li{
    font-weight: 700;
    font-size: 1.1em;
}

aside ul li::before{
    content: '\21E8';
    font-size: 1.5em;
    color: #ff4500;
    -webkit-text-fill-color: #ff4500;
    padding-right: 8px;
}

aside ul article{
    margin-left: 10%;
}

aside[aria-label="content"]{
    width: 300px;
}

/* CArds Section */

.card-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
}

.card-section h2{
    width: 300px;
    text-align: center;
    padding: 3.5%;
}

.cards{
    display: flex;
}

.card{
    width: 300px;
}

.card .img{
    width:75px;
    height: 75px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
}

.card{
    width: 200px;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 0px 5px 30px rgb(63, 112, 134);
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card div p{
    font-size: .9em;
    margin-top: 5%;
}

.card:first-child .img + div{
    background-color: rgb(23, 120, 165);
    color: #fff;
    position: absolute;
    bottom: 0%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10% 0;
}

.card:first-child{
    position: relative;
}