* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden; 
  }
  
  
 .container{
    margin: 20px;
  }
   
 .navbar-container{
   display:grid;
   grid-template-columns: .1fr 1fr .1fr ;
   justify-content: center;
   justify-items: center;
   align-items: center;
  }
  
  div img{
    width: 110px;
    display: flex;
    align-self: flex-start;
  }
  
  .list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    list-style: none;
  }
  
  .list-item{
    margin: 0 15px;
    padding: 0 10px;
    cursor: pointer;
    color: rgb(79, 78, 78);
    font-size: 19px;
  }

  .list-item:first-child:active{
    color: black;
  }

  .list-item:hover{
    color: black;
  }

  .nav-button{
    display: inline-block;
    width: 100px;
    cursor: pointer;
     padding: 10px 0;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background: rgba(15, 0, 155, 0.8);
  }
  
  /* <!-- Banner --> */

  .banner-container{
    display:grid;
    margin-top: 50px;
    grid-template-columns: .7fr 1fr; 
  }
  
  .heading-text{
    font-size: 50PX;
    line-height: 2; 
    width: 80%;
    line-height: 1.3;
  }

 
  .description{
   word-spacing: 4px;
   width: 80%;
   line-height: 1.8;
   letter-spacing: 1px;
   font-size:17px ;
   line-break: auto;
  }
  
  .btn{
    margin-top: 50px;
    display: inline-block;
    width: 185px;
    cursor: pointer;
    padding: 13px 0;
    font-size: 18px;
    border-radius: 5px;
    background: rgba(15, 0, 155, 0.8);
  }

  .right-image{
    width: 80%;
    float: right;
  }