 
*{
    margin: 0;
    padding: 0;
}

/*  ---------- navbar-------- */
#navbarMonstera{
    font-family: 'Allerta';
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

#navMid{
    display: flex;
}

#navMid div{
    padding: 10px 40px;
    cursor: pointer;
}

#navMid div:first-of-type h4{
    border-bottom: 2px solid black;
}

#navEnd{
    display: flex;
}

#navEnd div{
    padding: 10px 10px;
}

#navFirst img{
    width: 100px;
}

/* -------- main content --------*/
#midWhole #imgMain{
    position: absolute;
    right: 0%;
    top: 25%;
    height: 600px;
}

#midWholePart11 {
    margin-top: 150px;
    margin-left: 50px;
    font-family: 'Allerta';
}

#midWholePart11 div ul{
    list-style-type: none;
}

#midWholePart11 div ul{
    font-size: 20px;
    width: 650px;
    font-weight: 200;
}

#midWholePart11 div ul li #monstera{
    font-size: 8rem;
    letter-spacing: -5px;
}

#midWholePart121 div h1{
    background-color: rgb(70, 109, 80);
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    margin: 30px 0 0 50px;
    font-family: 'Allerta';
}

#midWholePart121 div h1::after{
    content: '\00bb';
    margin-left: 10px;
}

.midWholePart13Parts, #midWholePart13{
    display: flex;
}

#midWholePart13{
    margin-top: 50px;
    margin-left: 30px;
}

#light, #care{
    width: 50px;
    margin-right: 15px;
}

#feeding{
    margin-right: 15px;

    width: 80px;
}

.text{
    font-weight: 200;
    font-family: 'Abel';
    width: 200px;
}

.midWholePart13Parts div h4{
    font-family: 'Allerta';
}
 